In [1]:
# importing the neceassary packages
import pandas as pd
import numpy as plt
import matplotlib as mpl

In [2]:
# reading in the dataset
df = pd.read_csv('titanic_data.csv')

# What factors made people more likely to survive?

Try and suggest questions that promote looking at relationships between multiple variables. You should aim to analyze at least one dependent variable and three independent variables in your investigation. Make sure you use NumPy and Pandas where they are appropriate!

In [ ]:
%matplotlib inline

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [3]:
print df.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
print df.groupby(['Pclass', 'Sex']).describe()

                            Age        Fare       Parch  PassengerId  \
Pclass Sex
1      female count   85.000000   94.000000   94.000000    94.000000
              mean    34.611765  106.125798    0.457447   469.212766
              std     13.612052   74.259988    0.728305   247.476723
              min      2.000000   25.929200    0.000000     2.000000
              25%     23.000000   57.244800    0.000000   293.500000
              50%     35.000000   82.664550    0.000000   447.000000
              75%     44.000000  134.500000    1.000000   698.250000
              max     63.000000  512.329200    2.000000   888.000000
       male   count  101.000000  122.000000  122.000000   122.000000
              mean    41.281386   67.226127    0.278689   455.729508
              std     15.139570   77.548021    0.658853   247.026449
              min      0.920000    0.000000    0.000000     7.000000
              25%     30.000000   27.728100    0.000000   255.500000
              50%     40.000000   41.262500    0.000000   480.500000
              75%     51.000000   78.459375    0.000000   660.750000
              max     80.000000  512.329200    4.000000   890.000000
2      female count   74.000000   76.000000   76.000000    76.000000
              mean    28.722973   21.970121    0.605263   443.105263
              std     12.872702   10.891796    0.833930   243.627288
              min      2.000000   10.500000    0.000000    10.000000
              25%     22.250000   13.000000    0.000000   269.750000
              50%     28.000000   22.000000    0.000000   439.500000
              75%     36.000000   26.062500    1.000000   616.750000
              max     57.000000   65.000000    3.000000   881.000000
       male   count   99.000000  108.000000  108.000000   108.000000
              mean    30.740707   19.741782    0.222222   447.962963
              std     14.793894   14.922235    0.517603   256.922546
              min      0.670000    0.000000    0.000000    18.000000
              25%     23.000000   12.331250    0.000000   225.750000
              50%     30.000000   13.000000    0.000000   416.500000
              75%     36.750000   26.000000    0.000000   677.500000
              max     70.000000   73.500000    2.000000   887.000000
3      female count  102.000000  144.000000  144.000000   144.000000
              mean    21.750000   16.118810    0.798611   399.729167
              std     12.729964   11.690314    1.237976   267.232416
              min      0.750000    6.750000    0.000000     3.000000
              25%     14.125000    7.854200    0.000000   165.250000
              50%     21.500000   12.475000    0.000000   376.000000
              75%     29.750000   20.221875    1.000000   636.000000
              max     63.000000   69.550000    6.000000   889.000000
       male   count  253.000000  347.000000  347.000000   347.000000
              mean    26.507589   12.661633    0.224784   455.515850
              std     12.159514   11.681696    0.623404   261.921251
              min      0.420000    0.000000    0.000000     1.000000
              25%     20.000000    7.750000    0.000000   209.500000
              50%     25.000000    7.925000    0.000000   466.000000
              75%     33.000000   10.008300    0.000000   687.500000
              max     74.000000   69.550000    5.000000   891.000000

                          SibSp    Survived
Pclass Sex
1      female count   94.000000   94.000000
              mean     0.553191    0.968085
              std      0.665865    0.176716
              min      0.000000    0.000000
              25%      0.000000    1.000000
              50%      0.000000    1.000000
              75%      1.000000    1.000000
              max      3.000000    1.000000
       male   count  122.000000  122.000000
              mean     0.311475    0.368852
              std      0.546695    0.484484
              min      0.000000    0.000000
              25%      0.000000    0.000000
              50%      0.000000    0.000000
              75%      1.000000    1.000000
              max      3.000000    1.000000
2      female count   76.000000   76.000000
              mean     0.486842    0.921053
              std      0.642774    0.271448
              min      0.000000    0.000000
              25%      0.000000    1.000000
              50%      0.000000    1.000000
              75%      1.000000    1.000000
              max      3.000000    1.000000
       male   count  108.000000  108.000000
              mean     0.342593    0.157407
              std      0.566380    0.365882
              min      0.000000    0.000000
              25%      0.000000    0.000000
              50%      0.000000    0.000000
              75%      1.000000    0.000000
              max      2.000000    1.000000
3      female count  144.000000  144.000000
              mean     0.895833    0.500000
              std      1.531573    0.501745
              min      0.000000    0.000000
              25%      0.000000    0.000000
              50%      0.000000    0.500000
              75%      1.000000    1.000000
              max      8.000000    1.000000
       male   count  347.000000  347.000000
              mean     0.498559    0.135447
              std      1.288846    0.342694
              min      0.000000    0.000000
              25%      0.000000    0.000000
              50%      0.000000    0.000000
              75%      0.000000    0.000000
              max      8.000000    1.000000